body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}

.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	padding: 20px;
	width: 100%;
	max-width: rem(1263);
	border-radius: 20px;

	.lock & {
		visibility: visible;
	}
}

.popup__close {
	cursor: pointer;
	position: absolute;

	right: 42px;
	top: 42px;
	
	z-index: 999;
	
	@media (max-width:$mobile){
		right: rem(20);
		top: rem(10);
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		// top: 12px;
		// right: 20px;
		height: 30px;
		@include adaptiveValue("height", 30, 20);
		width: 6px;
		background-color: #000;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}

	&_light {

		&::before,
		&::after {
			width: rem(3);
		}
	}
}

.thanks-popup {
	&__content {
		display: flex;
		padding: rem(87) rem(180) rem(0) rem(128);

		@include adaptiveValue("padding-top", 87, 20);
		@include adaptiveValue("padding-right", 180, 20);
		@include adaptiveValue("padding-left", 128, 20);

		border-radius: rem(50);
		
		@media (max-width:$mobile){
			border-radius: rem(20);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		padding-bottom: rem(105);
		@include adaptiveValue("padding-bottom", 105, 20);

		@media (max-width:$mobileSmall){
			 align-items: center;
		}
	}

	&__title {
		margin-bottom: rem(75);
		@include adaptiveValue("margin-bottom", 75, 20);

		@include adaptiveValue("font-size", 60, 30);
		font-size: rem(60);
		font-weight: 300;
		line-height: 1;

	}

	&__text {

		margin-bottom: rem(20);

		font-size: rem(16);
		@include adaptiveValue("font-size", 16, 12);
		font-weight: 700;
		color: $menuItemColor;
		line-height: math.div(24, 16);
		flex: 1 1 auto;

	}
	&__image {
		img {
			max-width: 100%;
		}

		@media (max-width:$mobileSmall){
			 display: none; 
		}
	}
}