//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	width: rem(220);
	height: rem(70);
	justify-content: center;
	align-items: center;
	border-radius: rem(35);

	font-size: rem(16);
	font-weight: 700;
	color: #fff;

	transition: all 0.3s ease 0s;

	background-color: $btnColor;

	@media (any-hover: hover) {
		&:hover {
			background-color: #ff5569;
		}
	}

	&_outline,
	&_transp {
		width: rem(180);
		background-color: transparent;
		border: 1px solid $btnColor;

		@include adaptiveValue("height", 70, 50);

		@media (any-hover: hover) {
			&:hover {
				background-color: $btnColor;
			}
		}
	}

	&_transp {
		color: #000;
	}
}