//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;
	width: rem(220);
	height: rem(70);
	justify-content: center;
	align-items: center;
	border-radius: rem(35);
	color: #fff;

	transition: all 0.3s ease 0s;

	background-color: $btnColor;

	@media (any-hover: hover) {
		&:hover {
			background-color: #ff5569;
		}
	}

	&_outline {
		background-color: transparent;
		border: 1px solid $btnColor;

		@media (any-hover: hover) {
			&:hover {
				background-color: $btnColor;
			}
		}
	}
}