//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;

	width: rem(374);
	height: rem(57);
	padding-right: rem(10);

	font-weight: 400;
	color: $menuItemColor;
	color: #000;
	letter-spacing: .04em;
	line-height: math.div(24, 16);

	@media (min-width:$mobile) {
		padding-right: rem(30);
	}



	// display: flex;
	// align-items: center;

	// padding-bottom: rem(17);

	border-bottom: 1px solid $blueGrayColor;

	&._focus {}

	&._error {}

	&.placeholder {
		color: $menuItemColor;
	}
}