// Заголовки, общие БЄМ блоки и проче...
.page {

  /* .page__main */
  &__main {}

  /* .page__technology */
  &__technology {}

  /* .page__contacts */
  &__contacts {}
}

.title {
  @include adaptiveValue("font-size", 42, 26);
  font-weight: 300;
  line-height: 143%;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  text-align: center;
	letter-spacing: 0.04em;

  span {
    font-weight: 700;
  }

  &_wh {
    color: #fff;
  }
}

.circle-block {
  position: relative;
  padding: rem(21);
  width: $widthCircle;
  height: $widthCircle;

  border-radius: 50%;
  background-color: #fff;
}

.scroll-up {
  position: absolute;
  display: flex;
  align-items: center;
  gap: rem(8);
  right: -2.8%;
  top: 46.6%;

  transform: rotate(-90deg);

  &::before {
    content: '';
    position: absolute;
    width: rem(67);
    height: rem(67);
    right: -49%;

    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
    // transform: translate(-100%, 0px) scale(1.48); // Если отключить анимацию-расскоментировать

    @media (min-width:$mobile) {
      animation: changeWidthScrollBtn 1.5s infinite linear;
    }
  }

  @media (max-width:$mobile) {
    top: 105.4%;
  }

  @media (max-width:$mobileSmall) {
    right: -3%;
  }

  span {
    font-size: rem(12);
    font-weight: 450;
    color: $scrollMouseColor;
    line-height: 1;

    b {
      font-weight: 450;

      @media (max-width:$mobile) {
        display: none;
      }
    }
  }

  img {
    position: relative;
    transform: rotate(90deg);
  }
}