//====================================================================================================

.header {
  @include adaptiveValue("padding-bottom", 46, 19);
  @include adaptiveValue("padding-top", 46, 19);

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 250;

  /* .header__container */
  &__container {
    display: flex;
    align-items: center;

    @media (max-width:$tablet) {
      gap: rem(20);
    }
  }

  &__logo {
    position: relative;
    z-index: 5;

    img {
      @include adaptiveValue("width", 185, 156);
      @include adaptiveValue("hight", 46, 39);
    }
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__call {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;

    flex: 0 0 auto;

    gap: rem(12);

    &::before {
      font-size: rem(22);
    }

    @media (max-width:$mobile) {
      padding: rem(21) 0 rem(26);
      justify-content: center;
      width: 100%;
      border-top: 1px solid $burger-menuLineColor;
    }
  }

  .menu {
    padding: 0 rem(10); // отступы безопасности

    /* .menu__body */
    &__body {
      @media (max-width:$mobile) {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 0;
        left: -100%;
        @include adaptiveValue("padding-top", 130, 98, 768, 360, 2);
        padding-left: rem(20);
        padding-right: rem(20);
        gap: rem(41);

        overflow: auto;
        background-color: #fff; // цвет меню
        transition: all 0.3s ease 0s;

        // Плашка
        &::before {
          content: '';
          position: fixed;
          z-index: 2;
          width: 100%;
          top: 0;
          left: -100%;
          @include adaptiveValue("height", 98, 77, 768, 360, 2); // адаптируем плашку

          background-color: #fff; // цвет плашки
          transition: all 0.3s ease 0s;
        }

        .menu-open & {
          left: 0;
          // opacity: 1;

          &::before {
            left: 0;
            // opacity: 1;
          }
        }
      }
    }

    /* .menu__list */
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiveValue("column-gap", 60, 15, 1920, 992, 1);

      @media (max-width:$mobile) {
        flex-direction: column;
        row-gap: rem(42);

        text-align: center;
      }
    }

    /* .menu__item */
    &__item {}

    /* .menu__link */
    &__link {
      font-size: rem(16);
      line-height: 150%;
      color: $menuItemColor;
      text-transform: uppercase;

      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: #000;
        }
      }
    }
  }
}

//====================================================================================================

//Burger
.icon-menu {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(33);
    height: rem(30);
    cursor: pointer;
    z-index: 999;

    span,
    &::before {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0px;
      position: absolute;
      width: 100%;
      height: rem(5);
      border-radius: rem(5);
      background-color: $burgerColor;
    }

    &::before {
      top: rem(6);
    }

    span {
      top: 70%;
    }

    .menu-open & {

      span,
      &::before {
        top: 50%;
        left: 28%;
        width: rem(18);
        height: rem(3);
      }

      &::before {
        transform: rotate(-45deg);
      }

      span {
        transform: rotate(45deg);
      }
    }
  }
}

.burger {
  display: flex;
  align-items: center;
  gap: rem(28);

  font-size: rem(22);
}

.burger__phone {
  display: none;

  @media (max-width:$mobile) {
    display: flex;
  }
}