.walls {
  background: url('@img/buisness/back-walls.jpg') 0 0 no-repeat;
  @include adaptiveValue("padding-top", 219, 125);
  @include adaptiveValue("padding-bottom", 97, 65);

  /* .walls__container */
  &__container {
    display: grid;
    justify-items: center;
    gap: rem(100);
  }

  /* .walls__title */
  &__title {
    max-width: rem(1264);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  /* .walls__body */
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);
  }

  /* .walls__image */
  &__image {
    position: relative;
    padding-right: rem(100);
    // padding-bottom: percent(497, 647);

    img {
      position: absolute;
      bottom: rem(6);
      left: 0;

      max-width: 100%;
      // height: 100%;

      object-fit: cover;

      filter: drop-shadow(36px 54px 58px rgba(6, 12, 14, 0.44));
    }
  }

  /* .walls__content */
  &__content {}

  /* .walls__types */
  &__types {
    display: grid;
    gap: rem(55);
    // padding-left: rem(20);
  }

  /* .walls__type */
  &__type {}

  /* .walls__text */
  &__text {}
}


.type-walls {
  color: #fff;

  /* .type-walls__name */
  &__name {
    font-size: rem(20);
    font-weight: 700;
    line-height: math.div(22, 20);

    &:not(:last-child) {
      margin-bottom: rem(27);
    }
  }

  /* .type-walls__descr */
  &__descr {
    font-size: rem(14);
    font-weight: 400;
    line-height: math.div(22, 14);
  }
}

.circle {
  position: absolute;
  width: 13px;
  height: 13px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    background-color: $btnColor;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &::after {
    transform: scale(2.7);
    background-color: #fff;

    z-index: 1;
  }

  &_01 {
    top: 1%;
    right: 1%;
  }
  &_02 {

  }
  &_03 {

  }
}