.walls {
  background: url('@img/buisness/back-walls.jpg') 0 0 / cover no-repeat;
  @include adaptiveValue("padding-top", 219, 125);
  @include adaptiveValue("padding-bottom", 97, 65);

  /* .walls__title */
  &__title {
    max-width: rem(1264);
    margin-left: auto;
    margin-right: auto;
    letter-spacing: .04em;

    &:not(:last-child) {
      margin-bottom: rem(36);
    }
  }

  /* .walls__body */
  &__body {
    display: grid;
    justify-content: center;
    @include adaptiveValue("row-gap", 20, 37);
    @include adaptiveValue("margin-bottom", 70, 36);

    @media (min-width:$tablet) {
      align-items: center;
      column-gap: rem(20);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__media {
    position: relative;

    @media (max-width:$tablet) {
      justify-self: center;
    }
  }

  /* .walls__image */
  &__image {
    @media (min-width:$tablet) {
      @include adaptiveValue("padding-right", 100, 20);
    }

    img {
      max-width: 100%;

      filter: drop-shadow(36px 54px 58px rgba(6, 12, 14, 0.44));
    }
  }

  /* .walls__types */
  &__types {
    display: grid;
    @include adaptiveValue("padding-top", 70, 0);
    @include adaptiveValue("row-gap", 50, 21);

    @media (max-width:$tablet) {
      column-gap: rem(21);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* .walls__text */
  &__text {

    @media (min-width:$tablet) {
      @include adaptiveValue("padding-left", 175, 5);
      padding-left: rem(175);
    }

    p {
      font-size: rem(18);
      font-weight: 400;
      line-height: math.div(30, 18);
      color: #fff;

      span {
        display: block;

        font-size: rem(20);
        font-weight: 700;
        line-height: math.div(30, 20);
      }
    }
  }
}

.type-walls {
  color: #fff;

  /* .type-walls__name */
  &__name {
    @include adaptiveValue("font-size", 20, 15);
    font-weight: 700;
    line-height: math.div(22, 20);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 11);
      line-height: 1.5;
    }
  }

  /* .type-walls__descr */
  &__descr {
    @include adaptiveValue("font-size", 14, 12);

    font-weight: 400;
    line-height: math.div(22, 14);

    @media (max-width:$tablet) {
      line-height: 1.5;
    }
  }
}

.circles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.circle {
  position: absolute;
  @include adaptiveValue("width", 13, 6.7);
  @include adaptiveValue("height", 13, 6.7);

  &::before,
  &::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    background-color: $btnColor;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &::after {
    transform: scale(2.7);
    background-color: #fff;

    z-index: 1;

    // animation: changeOpacity .7s infinite linear;
  }

  &_01 {
    top: 6%;
    right: 24.3%;

    @media (max-width:$tablet) {
      top: 15%;
      right: 38%;
    }
  }

  &_02 {
    top: 29%;
    right: 28.6%;

    @media (max-width:$tablet) {
      top: 18%;
      right: 27%;
    }
  }

  &_03 {
    top: 45.2%;
    right: 26.2%;

    @media (max-width:$tablet) {
      top: 11%;
      right: 63.6%;
    }
  }
}

.lines {
  position: absolute;
  width: 27%; // Плашка для скрытия концов линий
  height: 100%;
  top: 0;
  right: 0;

  @media (max-width:$tablet) {
    width: 100%; // Плашка для скрытия концов линий
    height: 94%;
    top: 17%;
  }

  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: rem(5);
    height: rem(5);
    right: -0.3%;

    border-radius: 50%;
    background-color: #fff;
  }

  &::before {
    top: 17.6%;

    @media (max-width:$tablet) {
      top: auto;
      bottom: 0;
      left: 2%;
    }
  }

  &::after {
    top: 64.2%;

    @media (max-width:$tablet) {
      top: auto;
      bottom: 0;
      right: 45.2%;
    }
  }
}

.line {
  position: absolute;
  height: rem(1);
  right: 1px;

  width: rem(220);
  background-color: #fff;
  transform-origin: 100% 50%;

  animation: changeWidth 3s infinite linear;

  @media (max-width:$tablet) {
    transform-origin: 0% 100%;
    bottom: 0;
    width: rem(580);
  }

  /* .line_01 */
  &_01 {
    transform: rotate(12.69deg);
    top: 17.8%;

    @media (max-width:$tablet) {
      transform: rotate(314.89deg);
      left: 2.1%;
      top: auto;
    }
  }

  /* .line_02 */
  &_02 {
    transform: rotate(-13.91deg);
    top: 18.2%;

    animation: changeWidth 3.2s infinite linear;

    @media (max-width:$tablet) {
      transform: rotate(320.89deg);
      left: 2.1%;
      top: auto;
    }
  }

  /* .line_03 */
  &_03 {
    transform: rotate(20.09deg);
    top: 65%;

    animation: changeWidth 3.4s infinite linear;

    @media (max-width:$tablet) {
      transform: rotate(252.89deg);
      left: 54.5%;
      top: auto;
    }
  }
}

.size-line {
  position: absolute;
  height: rem(1);
  @include adaptiveValue("width", 123, 58);
  bottom: 30.7%;
  left: 65.2%;

  background-color: #fff;

  @media (max-width:$tablet) {
    bottom: 32%;
    left: 77.8%;

  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: rem(11);
    height: rem(14);
    top: rem(-7);

    @media (max-width:$tablet) {
      transform: scale(.6);
    }

    background: url('@img/buisness/arrow-r.svg') 0 0 no-repeat;
  }

  &::before {
    left: 21%;
  }

  &::after {
    transform: rotate(180deg);
    right: 31%;

    @media (max-width:$tablet) {
      transform: rotate(180deg) scale(.6);
    }
  }

  span {
    position: absolute;
    right: 42%;
    top: rem(-25);

    font-size: rem(10);
    font-weight: 750;
    color: #fff;
    line-height: math.div(22, 10);
  }
}