.main {

  position: relative;
  background: url(@img/background.png) 0 0 / cover no-repeat;

  /* .main__container */
  &__container {
    @include adaptiveValue("padding-bottom", 76, 83);
    @include adaptiveValue("padding-top", 151, 118);
    display: grid;
    justify-items: center;
    @include adaptiveValue("gap", 378, 296, 768, 360, 2);
    // overflow: hidden;
  }

  &__content {
    display: grid;
    justify-items: center;
    gap: rem(55);
  }

  /* .main__title */
  &__title {
    position: relative;
    max-width: rem(1025);

    text-align: center;
    z-index: 100;
  }

  /* .main__image */
  &__image {
    position: relative;

    &_left,
    &_right {

      img {
        max-width: 100%;
      }

      @media (max-width:$mobile) {
        display: none;
      }

      @media (max-width:em(1200)) {
        opacity: 0.4;
      }
    }

    &_left {
      position: absolute;
      left: 13.5%;
      top: rem(335);

      animation: floating 4s infinite linear;

      @media (min-width: em(1760)) {
        z-index: 50;
      }
    }

    &_center {
      position: absolute;
      @include adaptiveValue("left", 200, -10);
      @include adaptiveValue("top", 60, 340);

      z-index: 15;
      animation: floating 6s infinite linear;

      @media (min-width:$tablet) {
        @include adaptiveValue("top", 282, 200);
        @include adaptiveValue("left", 525, 100, 1920, 992, 1);
      }

      img {
        max-width: 100%;
      }
    }

    &_right {
      position: absolute;
      top: 25.6%;
      left: 59%;
      animation: floating 4s infinite linear;

      @media (min-width:em(1700)) {
        z-index: 30;
      }
    }
  }

  &__cloud {
    position: absolute;
    @include adaptiveValue("top", 641, 520);
    @include adaptiveValue("left", 342, -200);

    z-index: 20;

    img {
      @include adaptiveValue("width", 1257, 637);
    }
  }

  /* .main__balloon */
  &__balloon {
    position: absolute;
    top: 16%;
    right: 15.5%;

    @media (max-width:$mobile) {
      width: rem(35);
      height: rem(46);
      top: 30%;
    }

    animation: floatingX 4s infinite linear;

    /* .main__balloon_blur */
    &_blur {
      position: absolute;
      top: 22.6%;
      right: 19.9%;

      animation: floatingX 8s infinite linear;

      @media (max-width:$mobile) {
        width: rem(21);
        height: rem(19);
      }
    }
  }

  /* .main__button */
  &__button {
    position: relative;
    z-index: 150;
  }

  /* .main__list */
  &__list {
    position: relative;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    gap: rem(20);

    z-index: 10;

    @media (min-width: em(1700)) {
      grid-template-columns: repeat(6, 1fr);
      margin: 0 rem(-80);
    }
  }

  /* .main__item */
  &__item {}
}

.item-main {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include adaptiveValue("padding-top", 41, 27);
  @include adaptiveValue("padding-right", 28, 35);
  @include adaptiveValue("padding-bottom", 32, 40);
  @include adaptiveValue("padding-left", 44, 20);

  background: #fff;
  border-radius: rem(30);

  /* .item-main__image */
  &__image {
    @include adaptiveValue("width", 32, 20);

  }

  /* .item-main__text */
  &__text {
    @include adaptiveValue("font-size", 14, 13);
    font-weight: 450;
    line-height: 157%;
  }
}