.page {

  /* .page__main */
  &__main {}
}

.main {
  @include adaptiveValue("padding-top", 151, 118);
  @include adaptiveValue("padding-bottom", 74, 83);
  min-height: 100vh;

  /* .main__container */
  &__container {
    // display: grid;
    // justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  /* .main__title */
  &__title {
    max-width: rem(1025);

    text-align: center;
  }

  /* .main__image */
  &__image {}

  /* .main__button */
  &__button {
    flex: 1 1 auto;
  }

  /* .main__list */
  &__list {}

  /* .main__item */
  &__item {}
}

.title {}

.button {}

.item-main {

  /* .item-main__image */
  &__image {}

  /* .item-main__text */
  &__text {}
}